.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 20px;
  height: 34px;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in;
}
.navBlack {
  background-color: #111;
}
.navLogo {
  height: 75px;
  object-fit: contain;
  position: fixed;
  right: 0;
  top: 1px;
}
.navAvatar {
  object-fit: contain;
  width: 160px;
  position: fixed;
  top: -40px;
  left: 18px;
}
.brand {
  font-size: 30px;
  font-weight: 500;
  /* padding: 20px; */
  color: rgb(245, 0, 0);
  /* background-color: black; */
}
.brandlogo {
  height: 30px;
  object-fit: contain;
  position: fixed;
  right: 0;
  top: 1px;
  z-index: 5;
}
